html {
    background-color: #e5e6ec;
}

body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    /*-webkit-user-select: none; !* Safari *!*/
    /*-moz-user-select: none; !* Firefox *!*/
    /*-ms-user-select: none; !* IE10+/Edge *!*/
    /*user-select: none; !* Standard *!*/
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    height: 100vh;
}

.arco-modal-header {
    border-bottom: none !important;
}

.arco-modal-footer {
    border-top: none !important;
}

.scrollbar::-webkit-scrollbar {
    display: none;
}

.arco-icon {
    stroke-width: 2;
}

.chat-div {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 15px;
    line-height: 1.5;
    word-wrap: break-word;
}

.absolute-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    min-height: 80px;
    max-height: calc(100% - 124px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}