html {
    background-color: #e5e6ec;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    /*background-color: var(--color-bg-4);*/
    color: var(--color-text-1);
    /*-webkit-user-select: none; !* Safari *!*/
    /*-moz-user-select: none; !* Firefox *!*/
    /*-ms-user-select: none; !* IE10+/Edge *!*/
    /*user-select: none; !* Standard *!*/
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    height: 100vh;
}

.arco-modal-header {
    border-bottom: none !important;
}

.arco-modal-footer {
    border-top: none !important;
}

.scrollbar::-webkit-scrollbar {
    display: none;
}

.chat-div {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 15px;
    line-height: 1.5;
    word-wrap: break-word;
}

.absolute-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    min-height: calc(100vh - 140px);
    max-height: calc(100% - 140px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

pre code {
    display: block;
    background: var(--color-neutral-2) !important;
    border-radius: 6px !important;
    overflow-x: auto;
    border: none !important;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    border: 1px solid var(--color-neutral-3) !important;
    border-radius: 8px !important;
    /*overflow: hidden;*/
}

th, td {
    text-align: left;
    padding: 8px;
    min-width: 100px;
}

th {
    background-color: var(--color-neutral-2);
}

tr:nth-child(even) {
    background-color: var(--color-neutral-2);
}

@keyframes flash {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.flash {
    animation: flash 0.2s linear;
    animation-iteration-count: 1;
}

.hljs {
    background: var(--color-neutral-2) !important;
    position: relative;
    margin-top: 10px !important;
}
